name: Validate action typings

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  validate-typings:
    runs-on: ubicloud-standard-2-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - uses: krzema12/github-actions-typing@v2
